/*VARIABLES*/
:root{
    --my-navbar-height: 100px;
    --my-sidebar-width: 100px;
    --my-sidebar-width-lg: 150px;
    --my-data-content-top-height-md: 150px;
}
/*COMMON*/
img{
    max-width: 100%;
}
ul{
    list-style-type: none;
    margin-bottom: 0;
    margin-top: none;
}
a{
    text-decoration: none;
    color: inherit;
}
a:hover{
    color: inherit;
}
/*MARGIN*/
.margin-left10{
    margin-left: 10px;
}
.margin-bottom10{
    margin-bottom: 10px;
}
/*LAYOUT*/
.my_wrapper{
    width: 100%;
    height: 100vh;
}
.my_navbar{
    width: 100%;
    height: var(--my-navbar-height);
    background-color: white;
    color: black;
}
.my_main-content{
    height: calc(100% - var(--my-navbar-height));
    width: 100%;
}
.my_border{
    border: 1px solid black;
}
/*BUTTONS*/
.btn{
    font-size: 0.7em;
}
.btn-secondary{
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid white;
}
.btn-secondary:hover{
    background-color: white;
    border: 1px solid white;
    color: black;
}
/*MY BUTTON*/
.my_button{
    border-radius: 20px;
}
.my_rounded-btn{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*MY BUTTON COLORS*/
.my_btn-primary{
    background-color: #2b32fb;
    color: white;
}
.my_btn-primary:hover{
    background-color: #44ccfd;
    color: black;
}
/*NAVBAR CHILDS*/
.my_navbar-col{
    height: var(--my-navbar-height);
}
.my_navbar-logo{
    width: 80px;
}
.my_search-input{
    background-color: grey;
    color: black;
}
.input-group-text{
    background-color: #b4b2b2;
}
.my_navbar-col .form-control{
    background-color: #b4b2b2;
}
.my_gold-bell{
    color: gold;
    width:30%;
}
.my_navbar-left-list{
    width: 70%;
    height: 100%;
}
/*MAIN CONTENT CHILDS*/
.my_sidebar{
    width: var(--my-sidebar-width);
    height: 100%;
    background-image: url(../img/sidebar-bg.png);
    background-color: black;
    color: white;
    padding: 10px;
    position: relative;
}
.sidebar-top ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
}
.sidebar-top ul li:hover{
    background-color: lightgray;
}
.sidebar-top ul li a i{
    margin-right: 10px;
}
.sidebar-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 20%;
}
.sidebar-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
}
.my_data-content{
    width: calc(100% - var(--my-sidebar-width));
    height: 100%;
    overflow-y: auto;
}
/*DATA CONTENT CHILDS*/
.my_data-content-top{
    height: var(--my-data-content-top-height);
    padding: 20px;
    background-color: #0071e6;
    color: white;
}
.my_data-content-main{
    height: 100%;
    padding: 20px;
}
/*DATA CONTENT TOP CHILDS*/
ul li a[href$="app"]{
    margin: 0 5px;
}
/*DATA CONTENT MAIN CHILDS*/
.my_first-row-container,
.my_second-row-container{
    padding: 5px;
}
/*MY FIRST ROW CHILDS*/
.my_faq{
    width: 100%;
    border-bottom: 1px solid rgb(179, 175, 175);
    margin-bottom: 10px;
}
.my_faq i{
    transition: rotate linear 0.1s;
}
.my_faq:focus i{
    rotate: 180deg;
}
/*MY SECOND ROW CHILDS*/
.my_anchor-tag{
    text-decoration: underline;
    color: #0071e6;
}
.form-control{
    border-left: 0;
}
.form-control:focus{
    border: 0;
    box-shadow: none;
}
/*TODO*/
.my_todo-list .my_border{
    padding: 5px 10px;
    border-color: lightgray;
}
.my_todo-list .my_border:nth-child(1){
    border-radius: 10px 10px 0 0;
}
.my_todo-list .my_border:nth-child(2){
    border-top: none;
    border-bottom: none;
}
.my_todo-list .my_border:nth-child(3){
    border-radius: 0 0 10px 10px;
}
/*MEDIA QUERIES*/
/*XS QUERY*/
@media screen and (min-width: 200px) {
    /*NAVBAR CHILDS*/
    img[alt="Original Size Logo"]{
        display: none;
    }
    .sidebar-top ul li a span,
    .sidebar-bottom span{
        display: none;
    }
    /*DATA TOP CONTENT CHILDS*/
    .my_ul li a[href$="app"]{
        display: none;
    }
    /*DATA MAIN CONTENT CHILDS*/
    /*NEXT CLASSES TABLE*/
    .card-body th:nth-child(2),
    .card-body th:nth-child(3),
    .card-body td:nth-child(2),
    .card-body td:nth-child(3){
        visibility: collapse;
    }
}
/*MD QUERY*/
@media screen and (min-width: 768px) {
    /*DATA CONTENT CHILDS*/
    .my_data-content-top{
        height: var(--my-data-content-top-height-md);
    }
    /*NEXT CLASSES TABLE*/
    .card-body th:nth-child(2),
    .card-body th:nth-child(3),
    .card-body td:nth-child(2),
    .card-body td:nth-child(3){
        visibility: visible;
    }
}
/*LG QUERY*/
@media screen and (min-width: 992px) {
    /*NAVBAR CHILDS*/
    img[alt="Original Size Logo"]{
        display: block;
    }
    .my_navbar-logo{
        display: none;
    }
    .sidebar-top ul li a span,
    .sidebar-bottom span{
        display: block;
    }
    .sidebar-top ul li a,
    .sidebar-bottom{
        display: flex;
        align-items: center;
    }
    /*MAIN CONTENT CHILDS*/
    .my_sidebar{
        width: var(--my-sidebar-width-lg);
    }
    .my_data-content{
        width: calc(100% - var(--my-sidebar-width-lg));
    }
    /*DATA CONTENT CHILDS*/
    .my_data-content-main{
        display: flex;
        gap: 10px;
    }
    /*DATA TOP CONTENT CHILDS*/
    .my_ul li:nth-child(1){
        display: none;
    }
    .my_ul li a[href$="app"]{
        display: block;
    }
    /*DATA CONTENT MAIN CHILDS*/
    .my_first-row-container{
        width: 60%;
    }
    .my_second-row-container{
        width: 40%;
    }
}