/*VARIABLES*/
:root{
    --my-navbar-height: 100px;
    --my-sidebar-width: 100px;
    --my-sidebar-width-lg: 150px;
}
/*COMMON*/
/*LAYOUT*/
.my_wrapper{
    width: 100%;
    height: 100vh;
    /*debug*/
    background-color: lightcoral;
}
.my_navbar{
    width: 100%;
    height: var(--my-navbar-height);
    background-color: white;
}
.my_main-content{
    height: calc(100% - var(--my-navbar-height));
    width: 100%;
    /*debug*/
    background-color: lightgreen;
}
.my_border{
    border: 1px solid black;
}
/*NAVBAR CHILDS*/
.my_navbar-col{
    height: var(--my-navbar-height);
}
/*MAIN CONTENT CHILDS*/
.my_sidebar{
    width: var(--my-sidebar-width);
    height: 100%;
    /*debug*/
    background-color: lightpink;
}
.my_data-content{
    width: calc(100% - var(--my-sidebar-width));
    height: 100%;
    /*debug*/
    background-color: orange;
}
/*DATA CONTENT CHILDS*/

/*MEDIA QUERIES*/
@media screen and (min-width: 992px) {
    /*MAIN CONTENT CHILDS*/
    .my_sidebar{
        width: var(--my-sidebar-width-lg);
    }
    .my_data-content{
        width: calc(100% - var(--my-sidebar-width-lg));
    }
}